body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2.5em;
	color: #333;
}
.insertimage {
	float: left;
	border: 10px solid #999;
	padding: 25px;
	background-color: #CCC;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 25px;
	margin-left: 0px;
}
.content-area {
	padding-left: 50px;
	background-color: #6FC;
}
.secondary-nav {
	vertical-align: top;
	width: 30%;
	background-color: #FFC;
}
.buttons {
	background-color: #CCC;
	text-align: center;
	width: 25px;
}
